<!DOCTYPE html>
<html>
    <head>
        <title>Strava Map Planner</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" />
        
    </head>
    <body>


        <h1>
            Login
        </h1>
        
        <form method = "POST" action = "{{url_for('login')}}">
            <h4>
                Username
            </h4>
            <input
                type = "text"
                class = "form-control"
                placeholder="Please Enter Your Username"
                name = "username"
                required
            />
            <h4>
                Password
            </h4>
            <input
                type = "password"
                class = "form-control"
                placeholder = "Please Enter Your Password"
                name = "password"
                required
            />
            

            <button type = "submit">Login</button>
        </form>
        
        <br>
        <br>
        <a href = "{{url_for('index')}}">Return to the welcome page</a>
    </body>
    
    
</html>